<!DOCTYPE html>
<html>
  <body>
    <ul class="sf-menu">
      <li>
      <a href="/homes/index">主页</a>
      </li>
      <li class="current">
      <a href="#">信息管理</a>
      <ul>
        <li>
        <a href="/managements/classes_manage">教室信息管理</a>
        </li>
        <!-- <li class="current">
        <a href="followed.html">long menu item sets sub width</a>
        <ul>
          <li class="current"><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
        </ul>
        </li> -->
        <li>
        <a href="/managements/course_manage">课程信息管理</a>
        <!-- <ul>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
        </ul> -->
        </li>
        <li>
        <a href="/managements/table_manage">课表管理</a>
        <!-- <ul>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
        </ul> -->
        </li>
      </ul>
      </li>
      <li>
      <a href="/homes/index">信息查询</a>
      <ul>
        <li>
          <a href="/informations/classes_info">教室信息查询</a>
        <!-- <ul>
          <li><a href="followed.html">short</a></li>
          <li><a href="followed.html">short</a></li>
          <li><a href="followed.html">short</a></li>
          <li><a href="followed.html">short</a></li>
          <li><a href="followed.html">short</a></li>
        </ul> -->
        </li>
        <li>
        <a href="/informations/course_info">课程查询</a>
        <!-- <ul>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
        </ul> -->
        </li>
        <!-- <li>
        <a href="followed.html">menu item</a>
        <ul>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
        </ul>
        </li>
        <li>
        <a href="followed.html">menu item</a>
        <ul>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
        </ul>
        </li>
        <li>
        <a href="followed.html">menu item</a>
        <ul>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
          <li><a href="followed.html">menu item</a></li>
        </ul>
        </li> -->
      </ul>
      </li>

    </ul>
  </body>
</html>
